{@org.manage.domain.User user}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Imanagestuff activation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="{baseUrl}/favicon.ico" />
  </head>
  <body>
    <p>Dear {user.login}</p>
    <p>Your Imanagestuff account has been created, please click on the URL below to activate it:</p>
    <p>
      <a href="{baseUrl}/account/activate?key={user.activationKey}">Login Link</a>
    </p>
    <p>
      <span>Regards, </span>
      <br />
      <em>Imanagestuff.</em>
    </p>
  </body>
</html>
